<!-- <form name="newGameForm" ng-submit="addNewGame(newGame)" > 
<button>Add Game</button>  
        <p>Object:</p>
<textarea rows=10 name=”object” ng-model="newGame" style="width:100%" required>

</form> -->

<style>
	.set{
		color:black;
		display: inline;
	}
	.fillable{
		color:gray;
		display: inline;
	}
</style>

{{gameData}}
{{preData}}

<div class='container'>
	<div class='well'>
	  <form class="form-horizontal" name='newGameForm' ng-submit='addNewGame()' >
	    <fieldset>
	      <legend><h2>About You</h2></legend>
	      <div class="form-group">

	        <label class="control-label">Name</label>
	        <div>
	          <input name='yourName' class="form-control" type="text" ng-model='gameData.subject.name' required>
	        </div>

		    <label class="control-label">Pronouns</label>
		    <div>   
		        <select name="yourPronouns" ng-model="gameData.subject.PGP">
			      <option value="neutral">They/them</option>
			      <option value="female">She/her</option>
			      <option value="male">He/him</option>
			    </select>
		    </div>


	        <label class='control-label'>"You" Words</label>
	        <div>
	          <input name='yourWordsPos' class="form-control" type="text"  ng-model='gameData.associatedWords' required>
	        </div>
	        <label class="control-label">"Not You" Words</label>
	        <div >
	          <input name='yourWordsNeg' class="form-control" type="tet"  ng-model='gameData.unAssociatedWords' required>
	        </div>       
	      </div>
	      <legend><h2>Fill In The Blanks (You)</h2></legend>
	      <div class="form-group">
	      	<div ng-repeat='sentence in gameData.subject.sentences'>
		      	<div class='col-xs-12'>
		      		<div ng-class='{set:!word,fillable:word}' ng-repeat='word in sentence.array'>{{word||getPOS(sentence.POS)}} </div>
		      	</div>
		        <div class='col-xs-12'>
		        	<input class="form-control" type="text" ng-model='' required>
		        </div>
	        </div>
<!-- 
	      	<div class='col-xs-12'><div class='set'>{{getPOS('S')}} </div><div class='fillable'>{{preData.subjSentences[1]}}</div></div>
	        <div class='col-xs-12'>
	        	<input name='subjSentence1' class="form-control" type="text" ng-model='preData.subjSentences[1]' required>
	        </div>

	        <div class='col-xs-12'><div class='set'>Give {{getPOS('O')}} </div><div class='fillable'>{{preData.subjSentences[2]}}</div></div>
	        <div class='col-xs-12'>
	        	<input name='subjSentence2' class="form-control" type="text" ng-model='preData.subjSentences[2]' required>
	        </div>

	        <div class='col-xs-12'><div class='set'>{{gameData.subject.name||'(name)'}} </div><div class='fillable'>{{preData.subjSentences[3]}}</div><div class='set'> {{getPOS('SR')}}</div></div>
	        <div class='col-xs-12'>
	        	<input name='subjSentence3' class="form-control" type="text" ng-model='preData.subjSentences[3]' required>
	        </div> -->

	      </div>
	      <legend><h2>About Someone Else</h2></legend>
	      <div class="form-group">

	        <label class="control-label">Name</label>
	        <div>
	          <input name='theirName' class="form-control" type="text" ng-model='gameData.control.name' required>
	        </div>

		    <label class="control-label">Pronouns</label>
		    <div>   
		        <select name="theirPronouns" ng-model="gameData.control.PGP">
			      <option value="neutral">They/them</option>
			      <option value="female">She/her</option>
			      <option value="male">He/him</option>
			    </select>
		    </div>
	      </div>


	      <div class="form-group">
	        <div class="col-xs-10 col-xs-offset-2">
	          <div class="alert alert-warning" ng-show='newGameForm.clientName.$error.required&&checkoutForm.clientName.$dirty'>Please enter a name</div>
	         
	          <button type="submit" class="btn btn-success" ng-disabled='checkoutForm.$invalid'>Submit Order</button>

	        </div>
	      </div>
	    </fieldset>
	  </form>
	</div>
</div>