

<style>
	.set{
		color:black;
		display: inline;
	}
	.fillable{
		color:gray;
		display: inline;
	}
	.form-group{
		padding:0px 40px;
	}
	.explanation{
		font-style: italic;

	}
	.container{
		width:50%;
	}
</style>


<div class='container'>
	<div class='well'>
	  <form class="form-horizontal" name='newGameForm' ng-submit='addNewGame()'>
	    <fieldset>
    	 <div class='explanation'>
      		Fill in the information below to create your custom game. You will receive a private link to the game. All information entered in this form will be incorporated into the game, so no secrets!
      	</div>
	      <legend><h2>About You</h2></legend>
	      <div class="form-group">

	        <label class="control-label">Name</label>
	        <div>
	          <input name='yourName' class="form-control" type="text" ng-model='gameData.subject.name' required>
	        </div>

		    <label class="control-label">Pronouns</label>
		    <div>   
		        <select name="yourPronouns" ng-model="gameData.subject.PGP">
			      <option value="neutral">They/them</option>
			      <option value="female">She/her</option>
			      <option value="male">He/him</option>
			    </select>
		    </div>


	        <label class='control-label'>"You" Words</label>
	       	<div class='explanation'>
	      		What do you like? What identities do you hold? Who are you? (Comma separated, please.)
	      	</div>
	        <div>
	          <input name='yourWordsPos' class="form-control" type="text"  ng-pattern='/[^,]+\,[^,]+\,[^,]+.+/' ng-model='gameData.subject.associatedWords' required>
	        </div>
	        <label class="control-label">"Not You" Words</label>
	        <div class='explanation'>
	        	What do you hate? What identities do you NOT hold? Who are you not? (Comma separated, please.)
	        </div>
	        <div >
	          <input name='yourWordsNeg' class="form-control" ng-pattern='/[^,]+\,[^,]+\,[^,]+.+/' type="text" ng-model='gameData.subject.unAssociatedWords' required>
	        </div>       
	      </div>
	      <legend><h2>Fill In The Blanks (You)</h2></legend>
	      <div class='explanation'>
	      	Fill in the sentences to describe yourself. Remember, your friends and loved ones will be "training" on these sentences... so go wild with the subliminal messaging!
	      </div>
	      <div class="form-group">
	      	<div ng-repeat='sentence in gameData.subject.sentences'>
		      	<div class='col-xs-12'>
		      		<div ng-class='{set:!word,fillable:word}' ng-repeat='word in sentence.array'>{{findPrint(word,sentence)}} </div>
		      	</div>
	        	<input ng-show='shouldShow(0,sentence)' class="form-control col-xs-12" type="text" ng-model='sentence.array[0]' ng-required='shouldShow(0,sentence)'>
	        	<input  ng-show='shouldShow(1,sentence)' class="form-control col-xs-12" type="text" ng-model='sentence.array[1]' ng-required='shouldShow(1,sentence)'>
	        	<input ng-show='shouldShow(2,sentence)' class="form-control col-xs-12" type="text" ng-model='sentence.array[2]' ng-required='shouldShow(2,sentence)'>
        
 			</div>
	      </div>
	      <legend><h2>About Someone Else</h2></legend>
	      <div class='explanation'>
	      	The player will be asked to compare their performance on your pronouns with their performance on a mutual acquaintance's pronouns. Feel free to choose a friend or family member known by both you and the person you plan to share this game with.
	      </div>
	      <div class="form-group">

	        <label class="control-label">Name</label>
	        <div>
	          <input name='theirName' class="form-control" type="text" ng-model='gameData.controls[0].name' required>
	        </div>

		    <label class="control-label">Pronouns</label>
		    <div>   
		        <select name="theirPronouns" ng-model="gameData.controls[0].PGP">
			      <option value="neutral">They/them</option>
			      <option value="female">She/her</option>
			      <option value="male">He/him</option>
			    </select>
		    </div>
	      </div>
	      <legend><h2>Fill In The Blanks (Them)</h2></legend>
	      <div class='explanation'>
	      		Fill in the sentences to describe the person specified above. Remember, your friend or loved one will be training on these sentences, so don't be too mean!
	      </div>
	      <div class="form-group" >
	      	<div ng-repeat='sentence in gameData.controls[0].sentences'>
		      	<div class='col-xs-12'>
		      		<div ng-class='{set:!word,fillable:word}' ng-repeat='word in sentence.array'>{{findPrint(word,sentence,true)}} </div>
		      	</div>
	        	<input ng-show='shouldShow(0,sentence)' class="form-control col-xs-12" type="text" ng-model='sentence.array[0]' ng-required='shouldShow(0,sentence)'>
	        	<input  ng-show='shouldShow(1,sentence)' class="form-control col-xs-12" type="text" ng-model='sentence.array[1]' ng-required='shouldShow(1,sentence)''>
	        	<input  ng-show='shouldShow(2,sentence)' class="form-control col-xs-12" type="text" ng-model='sentence.array[2]' ng-required='shouldShow(2,sentence)'>
        
 			</div>
	      </div>

	      <div class="form-group">
	        <div class="col-xs-12">
	          <button type="submit" class="btn btn-success" ng-disabled='newGameForm.$invalid'>Take Me To My Game!</button>
	        </div>
	      </div>
	      <div class="form-group">
	      	<div class='col-xs-12'>
<!-- 	          <div class="alert alert-warning" ng-show='newGameForm.yourName.$error.required&&newGameForm.yourName.$dirty'>Please enter your name.</div>
	          <div class="alert alert-warning" ng-show='newGameForm.theirName.$error.required&&newGameForm.theirName.$dirty'>Please enter a name for "someone else."</div> -->
	          <div class="alert alert-warning" ng-show='newGameForm.yourWordsPos.$error.pattern'>"You" Words: Please include at least 3 comma-separated words.</div>
	          <div class="alert alert-warning" ng-show='newGameForm.yourWordsNeg.$error.pattern'>"Not You" Words: Please include at least 3 comma-separated words.</div>
	          <div class="alert alert-warning" ng-show='newGameForm.$error.required&&newGameForm.$dirty'>Please fill in all fields.</div>
	        </div>

	       </div>

	      </div>
	    </fieldset>
	  </form>
	</div>
</div>