* {
  box-sizing: border-box;
}

body {
  background: #6f5499;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
  display: block;
  background: white;
  box-shadow: 1px 1px 14px -3px black;
  border-bottom: 1px solid black;
  width:820px;
  margin: 0 auto; 
  margin-bottom:40px;
  font-family: Amatica SC, cursive;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
